@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web";
    border: none;
}

/* Início do header (menu) */

header img
{
    width: 20%;
    height: 100px;
    margin-top: 0.7%;
}
header
{
    background-color: #02004D;
    width: 100%;
    height: 150px;
    text-align: center;
}
header a
{
    text-decoration: none;
}
header h4
{
    color: #e9e3e3;
}
body
{
    background-color: #e4e0e0;
}
form
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input, label
{
    display: block;
    outline: none;
    width: 100%;
}
#container-maximo
{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #0c0c0c;
    padding: 25px;
    margin-top: 4%;
}
#container-maximo h1
{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

.container-grande
{
    flex: 1 1 100%; /* esse elemento pode crescer ou encolher dependendo da necessidade */
    position: relative;
}
.container-medio
{
    flex: 1 1 45%;
    position: relative;
}
.espaco
{
    margin-right: 2.5%;
}
label
{
    font-weight: bold;
    font-size: .8rem;
}
input
{
    border-bottom: 2px solid #323232;
    font-size: .9rem;
    margin-bottom: 40px;
}
input:focus
{
    border-color: #1900ff;
}
input[type="submit"] 
{
    background-color: #2500fa;
    color: #FFF;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}
#btn-enviar:hover
{
    background-color: #7c24cf;
}
#termo
{
    margin-right: 5px;
}
#termo, #termo-label
{
    display: inline-block;
    width: auto;
}

/* Fim do header (menu) */

/* Início da estilização do rodapé */

.rodape
{
    width: 100%;
    height: 190px;
    background-color: #02004D;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navegaveis ul, li a
{
    text-decoration: none;
    color: #fff;
}

.rodape p
{
    margin-top: 7%;
    color: #fff;
    font-size: 0.8vw;
}

#logo_rodape
{
    padding-top: 17px;
    width: 15%;
    height: 60%;
    margin-left: 5%;
}

.container_inputs h5
{
    color: #FFF;
}

.social
{
    display: flex;
    margin-top: 20px;
    color: #FFF;
    align-items: center;
}

.social h4
{
    color: #FFF;
}

.social img
{
    
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 3%;
    
}

.inputs {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    
}

.inputs input {
    height: 25px;
    border: none;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.inputs label
{
    width: auto;
}


#input_email {
    width: 60%;
}

#input_botao {
    width: 135px;
    background-color: #8326EF;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}

/* Fim da estilização do rodapé */