@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Titillium Web";
        
}

body
{
    background-color: #e4e0e0;
}

/* Início da estilização do header (menu) */ 
#logo_cliente
{
    width: 18%;
    height: 53%;
    margin-left: 6%;
}
header
{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(54, 115, 228), blue);
    height: 110px; 
    
    
}
.container
{
    display: flex;
    align-items: center;   
    height: 110px; 
}
.menu
{
    justify-content: center;
    margin-left: 5%;
}
#icone_lupa
{
    width: 12%;
    height: 15%;
    margin-left: 3%;
    cursor: pointer;
}
#icone_login
{
    width: 23%;
    height: 23%;
    margin-left: 13%;
    cursor: pointer;
    margin-top: 3px;
}
.navegacao-li, .navegacao-li a
{
    display: flex;
    gap: 7%;
    text-decoration: none;
    font-size: 2vw;
    color: #FFF;
    font-weight: bold;
}
.pesquisar
{
    display: flex;
    align-items: center;
    margin-left: 12%;
    height: 110px;
}
#inp_pesquisar
{
    background-color: #8293CE;
}
.pesquisar input[type="text"]::placeholder 
{
    color: #FFF;
    
}
/* Fim da estilização do header (menu) */ 

/* Início da estilização do carrossel */ 


section.slider
{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important; /* Remove o preenchimento da seção (importante para sobrescrever outras regras) */
    overflow: hidden;
    z-index: 1;
}

.slider-content input, .img-mobile
{
    display: none;
}

.slide-box
{
    width: 25%; /* Largura de cada caixa de slide */
    height: 28.1em;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img
{
    width: 100%;
    height: 100%;
}

.slider-content
{
    width: 400%; /* Largura total do conteúdo do carrossel (4 slides) */
    height: auto;
    display: flex;
}

.nav-manual, .nav-auto
{
    position: absolute;
    width: 100%;
    margin-top: 26.6em;
    display: flex;
    justify-content: center;
}

/* Estilo para os botões de navegação manual e os indicadores automáticos do carrossel */
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid rgb(30, 253, 0); /* Borda dos botões e indicadores */
    padding: 10px; /* Preenchimento dos botões e indicadores */
    border-radius: 50%; /* Borda arredondada dos botões e indicadores */
    cursor: pointer;
    transition: 0.2s;
}

/* Estilo para os botões de navegação manual e indicadores automáticos, exceto o último */
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){ 
    margin-right: 10px; /* Margem à direita para espaçamento uniforme (exceto o último) */
}                

/* Estilo para o botão manual ao passar o mouse sobre ele */
.nav-manual .manual-btn:hover{
    background-color: rgb(30, 253, 0); /* Mudar a cor de fundo ao passar o mouse */
}

/* Estilo para os indicadores automáticos quando um slide específico está marcado */
#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3
 {     /* quando estiver marcado */   
    background-color: rgb(30, 253, 0); 
}     
    
/* Estilo para a posição dos slides no carrossel quando marcados */
#radio1:checked ~ .primeiro{
    margin-left: 0%; /* Mover para a primeira posição quando o slide 1 está marcado */
}

/* Mover para a segunda posição quando o slide 2 está marcado */
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;  /* Mover para a terceira posição quando o slide 3 está marcado */
}










/* Fim da estilização do carrossel */ 

/* Início da estilização dos cards */ 
.card
{
    width: 20%; 
    border:1px solid #4d4d4d; 
    margin-top: 50px;
    padding: 10px;
    margin-left: 25px;
    display: inline-block; /* Exibir como bloco em linha */
    border-radius: 15px; 
    text-align: center;
    box-sizing: border-box;
    transition: all 0.5s;
    
}
.card:hover 
{
    background-color: #ffffff;
    transform: scale(1.1);
}
.card:hover img
{
    content: url('../img/rog_asus2.png');
}   
#card-2:hover img
{
    content: url('../img/tuf_asus2.png');
}
#card-3:hover img
{
    content: url('../img/nitro_acer2.png');
}
#card-4:hover img
{
    content: url('../img/triton_acer2.png');
}
#card-5:hover img
{
    content: url('../img/hp2.png');
}
#card-6:hover img
{
    content: url('../img/positivo2.png');
}
#card-7:hover img
{
    content: url('../img/lenovo_asus2.png');
}
#card-8:hover img
{
    content: url('../img/vaio2.png');
}
#card-9:hover img
{
    content: url('../img/alienware2.png');
}
#card-10:hover img 
{
    content: url('../img/MacBook_apple2.png');
}
#card-11:hover img
{
    content: url('../img/legion_lenovo2.png');
}
#card-12:hover img
{
    content: url('../img/predator_helios2.png');
}
.section-card
{
    margin-left: 8%;
}
.card-ul
{
    margin-top: 20px;
    list-style-type: none;
    
}
.card-ul li
{
    text-align: left;
    color: #000;
    font-size: 1vw;
    font-weight: bold;
    margin-left: 3%;
    
}   
.card img
{
    margin-top: 5px; 
    height: 130px; 
    width:65%;
}

.card:hover h4
{
    display: none;
}

.card h4
{
    margin-top: 35px;
}


.card button
{    
    display: none;
    width: 70%;
    height: 35px;
    background-color: #df4141;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    font-size: 1.2vw;
}

.card:hover button
{
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
}
#botao-card:hover
{
    background-color: #11b811;
}

.card:hover .fundo p, .card:hover .fundo h5 
{
    display: block;
}

.fundo p
{
    font-size: 1.2vw;
    font-weight: bold;
    display: none;
    margin-top: 25px;
    color: #ff0000;
}

.card .fundo h5 
{
    font-size: 0.7vw;
    display: none;
    color: #ff0000;
    
}



/* Fim da estilização dos cards */ 


/* Início da estilização dos cards da api*/

.container-api
{
    display: flex;
    margin-left: 10%;
    margin-top: 60px;
}

.container-api iframe
{
    height: 160px;
    width: 45%;
    border-radius: 5px;
}

.api-cards
{
    width: 15%;
    height: 155px;
    background-color: #c0bbbb;
    margin-left: 5%;
    border-radius: 10px;
    text-align: center;
}

#api-card-um
{
    margin-left: 8.5%;
}

.api-cards:hover
{
    color: #ff0000;
}

.api-img-um, .api-img-um-red
{ 
    height: 80px; 
    margin-top: 32px; 
}

.api-cards:hover .api-img-um, #api-img-dois-red, .api-img-um-red
{
    display: none; 
    
}
.api-cards:hover .api-img-um-red
{
    display: inline-block; 
}

#api-img-assistente, #api-img-assistente-red
{
    height: auto;
    width: auto;
    margin-top: 23px;
}

#api-h3
{
    margin-top: -12px;
}

.localizacao
{
    width: 50%;
}

.localizacao h1
{
    text-align: center;

}

.localizacao p 
{
    margin-left: 8%;
}

.localizacao p span
{
    font-weight: bold;
}
/* Fim da estilização dos cards da api*/


/* Início da estilização da seção opiniões dos clientes */

#opiniao-cli
{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    margin-top: 30px;
    background-color: #4A6EEF;
    color: #FFF;
    font-weight: bold;
}
.section-opiniao
{
    margin-left: 16%;
}
.div-estrela
{
    display:flex;
    margin-left: 20%;
    width: 20%;
}
.div-estrela img
{
    margin-left: 1%;
    width: 60%;
    height: 28px;
}
.section-opiniao .card
{
    margin-top: 0;
}
.master .card 
{
    width: 74%;    
    transform: none;
    text-align: left;
    height: auto;
}
.master .card:hover
{
    
    box-shadow: 0 0 14px #b700ffc2
}
.master
{
    display: inline-block;
    margin-top: 25px;
    width: 20%;


}
.master .card h4
{
    text-align: center;
    margin-top: 7%;
}

.master:hover .card h4
{
    display: block;
}

/* Fim da estilização da seção opiniões dos clientes */

/* Início da estilização da seção dúvidas */
.duvidas-cliente
{
    margin-top: 30px;
    color: #FFF;
    width: 50%;
    margin-left: 25%;
    
}
.pergunta
{
    background-color: #4A6EEF;
    border-radius: 15px;
}
.resposta
{
    display: none;
    background-color: #02004D;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 30px;
}
.resposta p
{
    margin-left: 1%;
}
#pergunta2, #pergunta3, #pergunta4
{
    margin-top: 20px;
}

/* Fim da estilização da seção dúvidas */

/* Ínicio da estilização do rodapé */

.rodape
{
    width: 100%;
    height: 190px;
    background: linear-gradient(to right, rgb(0, 4, 255), rgb(54, 115, 228), blue);
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navegaveis ul, li a
{
    text-decoration: none;
    color: #fff;
}

.rodape p
{
    margin-top: 7%;
    color: #fff;
    font-size: 0.8vw;
}

#logo_rodape
{
    width: 18%;
    height: 40%;
    margin-left: 5%;
}

.inputs
{
    display: flex;
    
}

.inputs input
{
    height: 25px;
    width: 155px;
    border: none;
}

.container_inputs h5
{
    color: #FFF;
}

#input_email
{
    width: 60%;
}

#input_botao
{
    width: 153px;
    background-color: #8326EF;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}

.social
{
    display: flex;
    margin-top: 20px;
    color: #FFF;
    align-items: center;
}

.social img
{
    
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 3%;
    color: #fff;
    
}

/* Fim da estilização do rodapé */


/* Início da responsividade para computadores de grande monitores */

@media only screen and (min-width: 1370px) and (max-width: 4000px)
{
    #quarto-card-p
    {
        font-size: 15px;
    }
    .slide-box
    {
        height: 47em;
    }
    .nav-manual, .nav-auto
    {
        margin-top: 44.5em;
    }

    .section-card
    {
        margin-top: 2.6em;
    }


}

/* Fim da responsividade para computadores de grande monitores */