@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Titillium Web";
        
}
/* Início da estilização do header (menu) */ 
#logo_cliente
{
    width: 12%;
    height: 70%;
    margin-left: 10%;
}
header
{
    background-color: #02004D;
    height: 110px;
    
}
.container
{
    display: flex;
    align-items: center;   
    height: 110px; 
}
.menu
{
    justify-content: center;
    margin-left: 5%;
}
#icone_lupa
{
    width: 15%;
    height: 15%;
    margin-left: 3%;
    cursor: pointer;
}
#icone_login
{
    width: 35%;
    height: 35%;
    margin-left: 20%;
    cursor: pointer;
}
.navegacao-li, .navegacao-li a
{
    display: flex;
    gap: 30px;
    text-decoration: none;
    font-size: 2vw;
    color: #FFF;
    font-weight: bold;
}
.pesquisar
{
    display: flex;
    align-items: center;
    margin-left: 5%;
    height: 110px;
}
#inp_pesquisar
{
    background-color: #8293CE;
}
.pesquisar input[type="text"]::placeholder 
{
    color: #FFF;
    
}
/* Fim da estilização do header (menu) */ 

/* Início da estilização dos cards */ 
.card
{
    width: 20%; 
    border:1px solid #4d4d4d; 
    margin-top: 30px;
    padding: 10px;
    margin-left: 25px;
    display: inline-block; /* Exibir como bloco em linha */
    border-radius: 15px; 
    text-align: center;
    box-sizing: border-box;
    transition: all 0.5s;
    
}
.card:hover 
{
    background-color: #FFF;
    transform: scale(1.1);
}
.card:hover img
{
    content: url('img/rog_asus2.jpg');
}   
#card-2:hover img
{
    content: url('img/tuf_asus2.jpg');
}
#card-3:hover img
{
    content: url('img/nitro_acer2.jpg');
}
#card-4:hover img
{
    content: url('img/triton_acer2.jpg');
}
#card-5:hover img
{
    content: url('img/hp2.jpg');
}
#card-6:hover img
{
    content: url('img/positivo2.jpg');
}
#card-7:hover img
{
    content: url('img/lenovo_asus2.jpg');
}
#card-8:hover img
{
    content: url('img/vaio2.jpg');
}
#card-9:hover img
{

    content: url('img/alienware2.jpg');
}
#card-10:hover img 
{
    content: url('img/MacBook_apple2.jpg');
}
#card-11:hover img
{
    content: url('img/legion_lenovo2.jpg');
}
#card-12:hover img
{
    content: url('img/predator_helios2.jpg');
}
.section-card
{
    margin-left: 8%;
}
.card-ul
{
    margin-top: 20px;
    list-style-type: none;
    
}
.card-ul li
{
    text-align: left;
    color: #000;
    font-size: 1vw;
    font-weight: bold;
    margin-left: 3%;
    
}   
.card img
{
    margin-top: 5px; 
    height: 130px; 
    width:65%;
}
h4
{
    margin-top: 25px;
}
/* Fim da estilização dos cards */ 

/* Início da estilização da seção opiniões dos clientes */

#opiniao-cli
{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    margin-top: 30px;
    background-color: #4A6EEF;
    color: #FFF;
    font-weight: bold;
}
.section-opiniao
{
    margin-left: 16%;
}
.div-estrela
{
    display:flex;
    margin-left: 20%;
    width: 20%;
}
.div-estrela img
{
    margin-left: 1%;
    width: 60%;
    height: 28px;
}
.section-opiniao .card
{
    margin-top: 0;
}
.master
{
    display: inline-block;
    margin-top: 25px;
    width: 20%;
}
.master .card 
{
    width: 74%;    
    transform: none;
    text-align: left;
    height: 190px;
}
.master .card h4
{
    text-align: center;
    margin-top: 7%;
}

/* Fim da estilização da seção opiniões dos clientes */

/* Início da estilização da seção dúvidas */
.duvidas-cliente
{
    margin-top: 30px;
    color: #FFF;
    width: 50%;
    margin-left: 25%;
    
}
.pergunta
{
    background-color: #163bc2;
    border-radius: 15px;
}
.resposta
{
    display: none;
    background-color: #02004D;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#pergunta2, #pergunta3, #pergunta4
{
    margin-top: 20px;
}


/* Fim da estilização da seção dúvidas */


